<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/context ">
    <context:component-scan base-package="ru.almukanov.*" />
<!--    <bean id="gradeService"  class="ru.almukanov.services.GradeService"/>-->
<!--    <bean id ="studentService" class="ru.almukanov.services.StudentService" />-->
<!--    <bean id="rateService" class="ru.almukanov.services.RateService" />-->
<!--    <bean id ="gradeDaoimpl" class="ru.almukanov.dao.GradeDaoImpl" />-->
<!--    <bean id ="rateDaoImpl" class="ru.almukanov.dao.RateDaoImpl" />-->
<!--    <bean id="studentDaoImpl" class="ru.almukanov.dao.StudentDaoImpl" />-->
<!--    <bean id="studentListImpl" class="ru.almukanov.dao.StudentListImpl" />-->
</beans>